*{
    margin: 0px;
    padding: 0px;
}
.body{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 35%;
    height: 500px;
    border: 3px solid limegreen;
    border-radius: 10px;

}

.tittle span{
    font-family: arial black;
    font-weight: 800;
    font-size: 30px;
    color: red;
}

.tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rows{
    width: 100%;
    height: 100px;
    display: flex;
    margin: 5px 5px;
}

.each img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
}

.each{
    margin: 4px 8px;
    width: 100%;
    height: 100px;
    cursor: progress;
    transform: scale(1);
    transition: all 500ms;
    position: relative;
    border: 2px solid;
    border-radius: 10px;
}

.each:hover{
    transform: scale(0.7);
}

.hold span{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0px 15%;
    font-size: 30px;
    font-family: arial;
    font-weight: 800;
    color: rgb(125, 125, 143);
    z-index: 1;
}

.opacity{
    width: 100%;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    border: 2px solid black;
    border-radius: 10px;
}

.opacity:hover{
    opacity: 1;
}



